@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

// font-family: 'Red Hat Display', sans-serif;

:root {
    --background-color: hsl(225, 100%, 94%);
    --heading-color: hsl(223, 47%, 23%);
    --container-color: hsl(225, 100%, 98%);
    --normal-text-color: hsl(224, 23%, 55%);
    --button-color: hsl(245, 75%, 52%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    width: 100vw;
    height: 100vh;
    font-size: 16px;
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}



.container {
    width: 300px;
    border-radius: 15px;
    background-color: white;
    margin: auto;
    margin: 100px;

    .order-image {
        width: 100%;
        border-radius: 15px 15px 0 0;
        object-fit: contain;
    }

    .order-summary {
        padding: 0 1.25em;
        h1 {
            font-family : 'Red Hat Display', sans-serif;
            font-weight: 900;
            font-size: 1.25em;
            color: var(--heading-color);
            text-align: center;
            margin: 1em 0;
        }

        .summary {
            font-family : 'Red Hat Display', sans-serif;
            font-weight: 500;
            font-size: 1em;
            text-align: center;
            line-height: 1.75em;
            color: var(--normal-text-color);
        }

        .plan-container {
            margin: 1.25em 0;
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: var(--container-color);
            padding: 1em;
            border-radius: 10px;

            .info {
                padding-right: 1em;
                .subscription {
                    font-family : 'Red Hat Display', sans-serif;
                    font-weight: 900;
                    font-size: 0.9em;
                    color: var(--heading-color);
                }

                .subscription-cost {
                    font-family : 'Red Hat Display', sans-serif;
                    font-weight: 500;
                    font-size: 0.9em;
                    color: var(--normal-text-color);
                }
            }
        }

        .change-subscription {
            font-family : 'Red Hat Display', sans-serif;
            font-weight: 700;
            font-size: 0.8em;
            color: var(--button-color);

            &:hover {
                opacity: 0.75;
                text-decoration: none;
            }
        }
    }

    .proceed-to-payment {
        width: 100%;
        display: block;
        text-align: center;
        background-color: var(--button-color);
        padding: 1.1em 4em;
        border-radius: 10px;
        margin-top: 1.25em;
        color: var(--container-color);
        font-family: 'Red Hat Display', sans-serif;
        font-weight: 700;
        font-size: 0.8em;
        text-decoration: none;

        &:hover {
            opacity: .75;
        }
    }

    .cancel-order {
        text-align: center;
        color: var(--normal-text-color);
        font-family: 'Red Hat Display', sans-serif;
        font-weight: 700;
        font-size: 0.85em;
        text-decoration: none;
        margin: 2em 0;
        width: 100%;
        display: inline-block;

        &:hover {
            color: var(--heading-color);
        }
    }
}

.attribution {
    display: flex;
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 0;
    left: 0;
    font-family: 'Red Hat Display', sans-serif;
    margin: 0 0 0.25em 0.25em;
    font-size: 0.75em;
    a {
        text-decoration: none;
    }
}

@media screen and (min-width: 375px) {
    .container {
      width: 340px;
    }
}
  
  @media screen and (max-width: 375px) {
    .container {
      width: 300px;
    }
}
  
  @media screen and (max-width: 280px) {
    html {
      font-size: 14px;
    }
  
    .container {
      width: 250px;
    }
}
